.application {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1024px) {
    .application {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  .application__field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .application__field:not(:last-child) {
      margin-bottom: 15px; }
    .application__field textarea {
      overflow: auto;
      resize: none;
      min-width: 450px;
      height: 50px;
      background: #fff;
      border: 1px solid #cecece;
      -webkit-border-radius: 8px 0 0 0;
              border-radius: 8px 0 0 0;
      padding: 8px 0 8px 10px; }
      @media screen and (max-width: 500px) {
        .application__field textarea {
          min-width: 100%;
          width: 100%; } }
      .application__field textarea:hover, .application__field textarea:focus {
        outline: none; }
    .application__field input[type="text"] {
      min-width: 450px;
      font-size: 13px;
      padding: 6px 0 4px 10px;
      border: 1px solid #cecece;
      background: #FFF;
      -webkit-border-radius: 8px;
              border-radius: 8px; }
      @media screen and (max-width: 500px) {
        .application__field input[type="text"] {
          min-width: 100%;
          width: 100%; } }
      .application__field input[type="text"]:hover, .application__field input[type="text"]:focus {
        outline: none; }
    .application__field label {
      padding-bottom: 10px; }
  .application__tabcontent {
    padding: 50px 0px; }
    @media screen and (max-width: 1024px) {
      .application__tabcontent {
        padding: 38px 0px; } }
  .application__option:not(:last-child) {
    margin-bottom: 15px;
    margin-top: 10px; }
  .application__option:first-child {
    margin-top: 55px; }
    @media screen and (max-width: 1024px) {
      .application__option:first-child {
        margin-top: 0px; } }
  .application__option .fileload__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .application__option .fileload__title .helper {
      margin-left: 10px; }
  .application__option input {
    margin-bottom: 15px; }
  .application__left {
    width: 60%;
    position: relative;
    margin-right: 10px; }
    @media screen and (max-width: 1024px) {
      .application__left {
        max-width: 100%;
        width: 100%; } }
    @media screen and (max-width: 500px) {
      .application__left {
        padding: 0px;
        margin: 0px; } }
    .application__left input[type="submit"], .application__left input[type="reset"] {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      background: transparent;
      padding: 10px;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      color: #41403E;
      font-size: 14px;
      letter-spacing: 1px;
      outline: none;
      -webkit-box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
              box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
              border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      -webkit-border-bottom-left-radius: 15px 255px;
              border-bottom-left-radius: 15px 255px; }
      @media screen and (max-width: 768px) {
        .application__left input[type="submit"], .application__left input[type="reset"] {
          padding: 10px 50px; } }
      @media screen and (max-width: 500px) {
        .application__left input[type="submit"], .application__left input[type="reset"] {
          max-width: 100%;
          width: 100%; } }
      .application__left input[type="submit"]:hover, .application__left input[type="reset"]:hover {
        -webkit-box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
                box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3); }
  .application__popup {
    width: 500px;
    height: -webkit-calc(100% - 35px);
    height: calc(100% - 35px);
    position: absolute;
    z-index: 999999;
    outline: 5px solid #495057;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
    @media screen and (max-width: 600px) {
      .application__popup {
        width: 300px; } }
    .application__popup :-moz-placeholder {
      color: blue; }
    .application__popup ::-webkit-input-placeholder {
      color: blue; }
    .application__popup :-moz-placeholder {
      color: blue; }
    .application__popup ::-webkit-input-placeholder {
      color: blue; }
    .application__popup *:focus {
      outline: none; }
    .application__popup .editApp_form label {
      font-family: Georgia, Times, "Times New Roman", serif; }
    .application__popup .required_notification {
      font-size: 11px; }
    .application__popup .editApp_form ul {
      width: 100%;
      height: 400px;
      list-style-type: none;
      list-style-position: outside;
      margin: 0px;
      padding: 0px;
      overflow-y: scroll; }
    .application__popup .editApp_form li {
      padding: 12px;
      border-bottom: 1px solid #eee;
      position: relative; }
    .application__popup .editApp_form li:first-child, .application__popup .contact_form li:last-child {
      border-bottom: 1px solid #777; }
    .application__popup .editApp_form li:nth-of-type(1), .application__popup .editApp_form li:nth-of-type(2), .application__popup .editApp_form li:nth-of-type(3) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .application__popup .editApp_form li:nth-of-type(2) {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .application__popup .editApp_form li:nth-of-type(2) span {
        margin-right: 86px; }
    .application__popup .editApp_form li:nth-of-type(3) {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .application__popup .editApp_form li:nth-of-type(3) span {
        margin-right: 39px; }
    .application__popup .editApp_form h2 {
      margin: 0;
      display: inline; }
    .application__popup .required_notification {
      color: #d45252;
      margin: 20px 0 0 0;
      display: inline;
      float: right; }
    .application__popup .editApp_form label {
      width: 115px;
      margin-top: 3px;
      display: inline-block;
      float: left;
      padding: 3px;
      font-weight: bold;
      margin-right: 20px; }
    .application__popup .editApp_form input {
      height: 20px;
      width: 300px;
      padding: 5px 8px; }
    .application__popup .editApp_form textarea {
      padding: 8px;
      width: 300px; }
    .application__popup .editApp_form button {
      margin-left: 156px; }
    .application__popup .editApp_form .form_hint {
      font-size: 11px;
      padding-left: 3px; }
    .application__popup .editApp_form input, .application__popup .editApp_form textarea {
      border: 1px solid #aaa;
      -webkit-box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
              box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
    .application__popup .editApp_form input:focus, .application__popup .editApp_form textarea:focus {
      background: #fff;
      border: 1px solid #555;
      -webkit-box-shadow: 0 0 3px #aaa;
              box-shadow: 0 0 3px #aaa; }
    .application__popup .Btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      max-width: 90px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .application__popup textarea {
      resize: none; }
    .application__popup span {
      font-weight: bold;
      margin-right: 91px; }
    .application__popup #resStatus {
      border-bottom: 1px solid #777;
      padding: 12px; }
    .application__popup .saveApp {
      border-bottom: 1px solid #777;
      padding: 12px; }
    .application__popup .changeStatus {
      padding: 12px;
      border-bottom: 1px solid #eee;
      position: relative;
      background-color: rgba(78, 139, 55, 0.2);
      font-weight: bold;
      display: none; }
    .application__popup .select {
      width: 230px; }
    .application__popup #addPerformer {
      margin-right: 15px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .application__popup #addPerformer:hover {
        color: red;
        text-decoration: underline; }
    .application__popup #rezP {
      display: none; }
    .application__popup .center-on-page {
      display: none; }
    .application__popup #viewPerform {
      padding: 25px;
      display: none;
      margin: auto;
      right: 0;
      bottom: 0;
      top: 0;
      width: 640px;
      height: 300px;
      position: absolute;
      z-index: 4;
      left: -webkit-calc(100% - 570px);
      left: calc(100% - 570px);
      outline: 5px solid #495057;
      background-color: #eee;
      background-image: url(../img/bg3.png); }
      .application__popup #viewPerform .table {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 190px; }
        .application__popup #viewPerform .table__column {
          width: 20%;
          max-width: 20%;
          min-width: 20%;
          padding: 10px; }
    .application__popup h2 {
      padding: 10px;
      background-color: white;
      margin-bottom: 0px;
      -webkit-box-shadow: 0px 10px 8px;
      box-shadow: 0px 10px 8px;
      word-break: break-all;
      outline: 4px solid #666; }
  .application .form-select {
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07); }
    .application .form-select:focus, .application .form-select:hover {
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
    .application .form-select:after {
      position: absolute;
      top: 0;
      right: 12px;
      z-index: 1;
      color: #bbbbbb;
      line-height: 40px;
      font-size: 14px; }
      .ie .application .form-select:after {
        display: none; }
  .application .drop {
    min-width: 300px;
    width: 300px; }
    @media screen and (max-width: 1024px) {
      .application .drop {
        width: 100%;
        max-width: 100%; } }
  @media screen and (max-width: 1024px) {
    .application .slct {
      width: 100%;
      max-width: 100%; } }
  .application select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    -o-text-overflow: '';
       text-overflow: '';
    text-indent: 5px; }
    .application select[multiple=multiple] {
      height: auto;
      border: 1px solid #cbcbcb;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07); }
      .application select[multiple=multiple]:hover {
        border-color: #cccccc;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
    .application select option[disabled] {
      color: #eeeeee;
      text-shadow: none;
      border: none; }
  .application select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888; }
  .application select::-ms-expand {
    display: none; }
  .application .column-6 {
    margin-bottom: 30px;
    max-width: 300px; }
    @media screen and (max-width: 1024px) {
      .application .column-6 {
        width: 100%;
        max-width: 100%; } }
  @media screen and (max-width: 1024px) {
    .application .main-right {
      width: 100%;
      max-width: 100%;
      margin-bottom: 70px; } }
