.mfp {
  height: 100% !important; }

.hide {
  display: none; }

.show {
  display: block; }

.change {
  background-color: #dadada; }
  .change:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: #dadada;
    left: 0;
    bottom: -17px;
    -webkit-box-shadow: -3px 8px 10px -3px rgba(0, 0, 0, 0.75);
            box-shadow: -3px 8px 10px -3px rgba(0, 0, 0, 0.75); }
  .change:hover:after {
    background-color: #bbb; }

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  /* -webkit-animation-name: fade; */
  /* -webkit-animation-duration: 2.5s; */ }

.active {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white; }

.Btn {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: transparent;
  padding: 10px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: #41403E;
  font-size: 14px;
  letter-spacing: 1px;
  outline: none;
  -webkit-box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  -webkit-border-bottom-left-radius: 15px 255px;
          border-bottom-left-radius: 15px 255px;
  border: 1px solid #333; }
  @media screen and (max-width: 768px) {
    .Btn {
      padding: 10px 50px; } }
  @media screen and (max-width: 500px) {
    .Btn {
      max-width: 100%;
      width: 100%; } }
  .Btn:hover {
    -webkit-box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3); }

#rez {
  display: none; }

.error {
  padding: 15px;
  background-color: white;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 10px 8px;
  box-shadow: 0px 10px 8px;
  word-break: break-all;
  outline: 4px solid #666;
  margin-top: 30px; }

.delApp {
  position: relative;
  width: 15px;
  height: 15px; }
  .delApp:after, .delApp:before {
    content: "";
    height: 2px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 99999999;
    bottom: 0;
    background-color: black; }
  .delApp:hover:after, .delApp:hover:before {
    background-color: red; }
  .delApp:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .delApp:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
