.application {

display: flex;

@media screen and (max-width: 1024px) {
  flex-direction: column-reverse;
}

&__field {
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: 15px;
	};

	textarea {
      overflow: auto;
      resize: none;
      min-width: 450px;
      height: 50px;
      background: #fff;
      border: 1px solid #cecece;
      border-radius: 8px 0 0 0;
      padding: 8px 0 8px 10px;

      @media screen and (max-width: 500px) {
        min-width: 100%;
        width: 100%;
      }

      &:hover, &:focus {
      outline:none;
     };
		}

	input[type = "text"] {
		min-width: 450px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #FFF;
    border-radius: 8px;

    @media screen and (max-width: 500px) {
      min-width: 100%;
      width: 100%;
    }

    &:hover, &:focus {
      outline:none;
    };
	}

	label {
		padding-bottom: 10px;
	}
}

&__tabcontent {
  padding: 50px 0px;

  @media screen and (max-width: 1024px){
      padding: 38px 0px;
  }
}

&__option {

	&:not(:last-child) {
		margin-bottom: 15px;
    margin-top: 10px;
	}

  &:first-child {
    margin-top: 55px;

    @media screen and (max-width: 1024px){
      margin-top: 0px;
     }
  }

     .fileload__title {
        display: flex;
        align-items: baseline;

      .helper {
          margin-left: 10px;
      }  
    }

	input {
		&:not(&:last-child){
	      margin-bottom: 15px;
		}
	}
}

&__left {
	width: 60%;
  position: relative;
	margin-right: 10px;

	@media screen and (max-width: 1024px) {
	  max-width: 100%;
	  width: 100%;
	}

	@media screen and (max-width: 500px) {
         padding: 0px;
			 margin: 0px;
    }


input[type = "submit"], input[type = "reset"] {
  align-self:center;
  background:transparent;
  padding:10px;
  transition:all .5s ease;
  color:#41403E;
  font-size:14px;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-bottom-left-radius:15px 255px;

@media screen and (max-width: 768px) {
  padding:10px 50px;
}

@media screen and (max-width: 500px) {
  max-width: 100%;
  width: 100%;
}

       &:hover{
         box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
      } 
  }
}


&__popup {
  width: 500px;
  height: calc(100% - 35px);
  position: absolute;
  z-index: 999999;
  outline: 5px solid #495057;
  background-color: white;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  @media screen and (max-width: 600px){
    width: 300px;
  }

:-moz-placeholder {
 color: blue;
}
::-webkit-input-placeholder {
 color: blue;
}

:-moz-placeholder {
    color: blue;
}
::-webkit-input-placeholder {
    color: blue;
}

*:focus {outline: none;}

.editApp_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.required_notification {font-size: 11px;}

.editApp_form ul {
    width:100%;
    height: 400px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    overflow-y: scroll;
}

.editApp_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.editApp_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

.editApp_form li:nth-of-type(1), .editApp_form li:nth-of-type(2) , .editApp_form li:nth-of-type(3) {
  display: flex;
}

.editApp_form li:nth-of-type(2) {
  align-items: center;

  span {
    margin-right: 86px;
  }
}

.editApp_form li:nth-of-type(3) {
  align-items: center;

  span {
    margin-right: 39px;
  }
}

.editApp_form li:nth-of-type(8) {
  display: inline-flex;
}

.editApp_form h2 {
    margin:0;
    display: inline;
}

.required_notification {
    color:#d45252;
    margin:20px 0 0 0;
    display:inline;
    float:right;
}

.editApp_form label {
    width:115px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
    font-weight: bold;
    margin-right: 20px;
}

.editApp_form input {
    height:20px;
    width:300px;
    padding:5px 8px;
}

.editApp_form textarea {padding:8px; width:300px;}
.editApp_form button {margin-left:156px;}

.editApp_form .form_hint {
  font-size: 11px;
  padding-left: 3px;
}

.editApp_form input, .editApp_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.editApp_form input:focus, .editApp_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.Btn {
    display: flex;
    margin: 0 auto;
    align-self: center;
    max-width: 90px;
    justify-content: center;
}

textarea {
  resize: none;
}

span {
  font-weight: bold;
  margin-right: 91px;
}

#resStatus {
    border-bottom: 1px solid #777;
    padding: 12px;
}

.saveApp {
    border-bottom: 1px solid #777;
    padding: 12px;
}

.changeStatus {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
  background-color: rgba(78, 139, 55, 0.2);
  font-weight: bold;
  display: none;
}

.select {
  width: 200px
}

#addPerformer {
  margin-right: 15px;
  transition: .3s;

  &:hover {
    color: red;
    text-decoration: underline;
  }
}

#rezP {
  display: none;
}

.center-on-page {
  display: none;
}

#viewPerform {
    padding: 25px;
    display: none;
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    width: 640px;
    height: 300px;
    position: absolute;
    z-index: 4;
    left: calc(100% - 570px);
    outline: 5px solid #495057;
    background-color: #eee;
    background-image: url(../img/bg3.png);

 .table {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 190px;

  &__column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  padding: 10px;
  }
 }   
}

h2 {
    padding: 10px;
    background-color: white;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 10px 8px;
    box-shadow: 0px 10px 8px;
    word-break: break-all;
    outline: 4px solid #666;
}
}

.form-select {
background: #ffffff;
overflow: hidden;
border: 1px solid #cbcbcb;
border-radius: 3px;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);

&:focus,
&:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

&:after {
   
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 1;
    color: #bbbbbb;
    line-height: 40px;
    font-size: 14px;

    .ie & {
        display: none;
    }
}
}

.drop {
  min-width: 300px;
  width: 300px;

   @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: 100%;
  }
}

.slct {
   @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: 100%;
  }
}
select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 5px 10px 5px 5px;
    text-overflow: '';
    text-indent: 5px;

    &[multiple=multiple] {
        height: auto;
        border: 1px solid #cbcbcb;
        border-radius: 3px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);

        &:hover {
            border-color: #cccccc;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    option[disabled] {
        color: #eeeeee;
        text-shadow: none;
        border: none;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
    display: none;
}

.column-6 {
	 margin-bottom: 30px;
	 max-width: 300px;

     @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
    }
}


.main-right {
  @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 70px;

}
}
}