.knowledge {
	font-family: OpenSans-Regular;

	&__link {
			color: black;

			&:hover {
				color: gray;
			}
	}

	&__link > p{
		padding-bottom: 16px !important;
		    border-bottom: 2px solid #dadada !important;

		    &:last-child {
		    	border:none;
		    }
			}

	&__popup {
	  	width: 575px;
	  	padding: 30px 10px 10px;
	    height: calc(100% - 350px);
	    position: absolute;
	    z-index: 999999;
	    outline: 5px solid #495057;
	    background-color: white;
	    margin: auto;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;

	    @media screen and (max-width: 600px) {
	    	width: 275px;
	    }
	}

	&__container {
		display: flex;
    	flex-direction: column;

	h3 {
		justify-content: center;
	    align-items: center;
	    text-align: center;
	    border-bottom: 3px solid;
	    margin-top: 0px;
	    padding-bottom: 15px;
	}

	p {
		margin-top: 0;
	    line-height: 1.6;
	    overflow-y: scroll;
	}
	}

	&__block {
		display: flex;
		flex-direction: column;
	}

	&__title {
		padding: 15px;
	    background-color: white;
	    margin-bottom: 35px;
	    box-shadow: 0px 10px 8px;
	    word-break: break-all;
	    outline: 4px solid #666;
	}

	&__info {
		width: 100%;
	}

	&__accordion {
		background-color: #e8e8e8;
		color: #444;
		cursor: pointer;
		padding: 15px;
		width: 100%;
		text-align: center;
		border: none;
		outline: none;
		transition: 0.4s;
		border-bottom: 2px solid darkgray;
		box-shadow: none;
		font-family: OpenSans-Regular;
		font-size: 16px;

		&.active, &:hover {
			background-color: #ddd;
		}

		&.active {
			color: white;
		}
	}

	.panel {
		padding: 0 15px;
		background-color: white;
		display: none;
		overflow: hidden;
		transition: max-height 0.2s ease-out;

		&.show {
			display: block;
		}
	}


}