.profile {
	width: 100%;

	&__left {
		margin-right: 110px;

		@media screen and (max-width: 768px) {
	 		 align-self: center;
	    	 margin: 0;
	    	 margin-bottom: 20px;
		}
	}

	&__photo {
		width: 150px;
		outline: 5px solid white;
    	box-shadow: 0px 0px 14px 4px black;

	img {
		width: 100%;
    	object-fit: cover;
	}
	}

	&__grid {
		display: flex;
    	padding: 25px 45px;
    	background-color: rgba(0, 0, 0, 0.1);
    	box-shadow: 0px 10px 8px;
    	outline: 4px solid #666;
    	justify-content: center;

    	@media screen and (max-width: 768px) {
 		 flex-direction: column;
		}
	}
	
	&__func {
		display: flex;

		@media screen and (max-width: 600px) {
	 		 flex-direction: column;
		}
	}

	&__select {
		position: relative;
		margin-top: 35px;
   		margin-bottom: 25px;
	}

	&__list {
		list-style: none;
		margin-left: 40px;
	    background-color: #f6f6f6;
	    padding: 15px;
	    box-shadow: 0px 10px 8px;
	    margin: 0px;

		@media screen and (max-width: 600px) {
	 		 padding: 10px;
		}

		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}

			&:last-child {
				margin-bottom: 35px;
			}
		}
	}

	&__btn {
		display: flex;

		&:first-child {
				margin-right: 15px;
			};

		@media screen and (max-width: 600px) {
	 		margin-right: 0px !important;

	 		&:first-child {
				margin-bottom: 0px;
			};
		

			.submit {
				width: 100%;
			}
		}
	}

	.field {
		label {
			min-width: 113px;

			@media screen and (max-width: 600px) {
	 		 margin-bottom: 10px;
	 		}
		}



		input {
			    width: calc(100% - 170px);
			    font-size: 13px;
			    padding: 6px 0 4px 10px;
			    border: 1px solid #cecece;
			    background: #F6F6f6;
			    border-radius: 5px;
			    margin-right: 20px;

		@media screen and (max-width: 600px) {
	 		 width: 100%;
	 		 margin: 0px;
	 		 box-sizing: border-box;
		}

		}

		input:focus {
			outline: none;
 			box-shadow: 0 0 1px 1px #4d90f0;}
		}


.slct {
	display: block;
	border-radius: 5px;
	border: 1px solid #cecece;
	background-color: #F6F6f6;
	width: 285px;
	padding: 4px 15px 4px 10px;
	color: #444;
	background-position: 290px -145px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	

}
.slct.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
.drop {
	margin: 0;
	padding: 0;
	width: 310px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
}
.drop li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	color: #444;
	padding: 4px 15px 4px 25px;
	background-position: 10px -119px;
}
.drop li:hover {
	background-color: #e8e8e8;
	color: #222;
}


input[type = "submit"], input[type = "reset"] {
  align-self:center;
  background:#00000033;
  padding:10px;
  transition:all .5s ease;
  color:#41403E;
  font-size:14px;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-bottom-left-radius:15px 255px;

@media screen and (max-width: 768px) {
  padding:10px 50px;
}

@media screen and (max-width: 500px) {
  max-width: 100%;
  width: 100%;
}

       &:hover{
         box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
      } 
  }

  h3 {
  	padding: 15px;
    background-color: white;
    margin-bottom: 35px;
    -webkit-box-shadow: 0px 10px 8px;
    box-shadow: 0px 10px 8px;
    word-break: break-all;
    outline: 4px solid #666;
  }
}