.setting {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	&__st {
		margin-bottom: 15px;
	}

	&__right {
		width: calc(100% - 460px);
	}

	&__left {
		margin-right: 20px;
	}

	&__btn {
		display: flex;
		margin-left: 15px;
	}

	&__grid {
		display: flex;
	}

	.field {
		input {
		   	width: 300px;
		    font-size: 13px;
		    padding: 6px 0 4px 10px;
		    border: 1px solid #cecece;
		    background: #F6F6f6;
		    border-radius: 5px;
		    margin-right: 0px;

		@media screen and (max-width: 600px)
		{
			margin-right: 0px;
			width: 100%;
		}	    
		}

		input:focus {
			outline: none;
 			box-shadow: 0 0 1px 1px #4d90f0;}
		}

	&__list {
		list-style: none;
	    margin-left: 40px;
	    background-color: #f6f6f6;
	    padding: 15px;
	    -webkit-box-shadow: 0px 10px 8px;
	    box-shadow: 0px 10px 8px;
	    margin: 0px;
	    max-width: 430px;

	@media screen and (max-width: 600px){
		padding: 0;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    max-width: 361px;
	    margin: 0 auto;
	}	

		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			};

			&:last-child {
				margin-bottom: 35px !important;
			};

			@media screen and (max-width: 600px){
				width: 100%;
			}
		}
	}

&__title {
	padding: 15px;
    background-color: white;
    margin-bottom: 35px;
    box-shadow: 0px 10px 8px;
    word-break: break-all;
    outline: 4px solid #666;
}

&__menu {
	display: flex;
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
}

&__link {
	margin-right: 15px;
	padding: 10px;
	transition: .3s;
	color: #666;

	&:hover {
		background-color: rgba(0, 0, 0, 0.15);
   		box-shadow: 1px 1px 4px black;
   		color: white;
   		transition: .3s;
	}
}

&__smenu {
	display: flex;
	margin-bottom: 15px;
}

&__article {
	margin-right: 10px;
}
&__accordion {
	background-color: #e8e8e8;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-bottom: 2px solid darkgray;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: OpenSans-Regular;
    font-size: 16px;
}

button {
	width: 100%;

	&:hover,&:focus {
		box-shadow: none;
		cursor: pointer;
	}
}

.table {
	width: 100%;
	margin-top: 0px;

	&__column {
		max-width: inherit;
    	min-width: auto;
	    padding: auto;
	    width: 21%;

	    &--function {
	    	margin-left: auto;
	    }

	    &:nth-child(2) {
			padding-right: 9px;
			overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    width: 21%;
		}

	    &:first-child {
	    	min-width: 10%;
	    }

	    @media screen and (max-width: 600px){
	    	width: 70%;
		    max-width: 70%;
		    min-width: 70%;
	    }


	    span {
	    	display: none;

	    	@media screen and (max-width: 600px){
		    	display: inline-block;
		    	padding-right: 10px;
	    	}
	    }
	}
}

.td {
	width: 10%;
}
.active {
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 4px black;
	color: white;
	transition: .3s;
}

.panel {
	display: none;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.changeSetting {
	margin-bottom: 20px;
}
}