.table {
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	&__row {
		display: flex;

		&:first-child {
			border-bottom: 3px solid #B9B29F;
    		text-align: left;
    		font-weight: bold;
    		.table__column{
    			&:nth-child(1) {
    			padding-right: 10px;
    		}
    			&:nth-child(2) {
    			padding-right: 9px;
    		}
	    		&:nth-child(3) {
	    			padding-right: 10px;
	    		}

    		}
    		
		}

		&:nth-child(even) {
			background: #E8E6D1;
		}

		&:not(:first-child) {
			&:hover {
			background-color: rgba(0,0,0,0.2);
			transition: .3s;
			color: white;
			cursor: pointer;
		}
		}
	}

	&__column {
		width: 15%;
	    max-width: 15%;
	    min-width: 15%;
	    padding: 10px;

	    &:nth-child(2) {
			padding-right: 9px;
			overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		}

	    &:first-child {
	    	min-width: 10%;
	    }
	}

	&__func {
		display: flex;

		a {
			&:not(:last-child) {
				margin-right: 15px;
			};
		}

		svg {
			&.icon {
  				width: 17px;
  				height: 20px;
 				fill: black;

 				&:hover {
 					fill: red;
 				}
				}

		}
	}
}